.width
{
    background:#DDD;
    width:600px; /* 'auto' By Default */
}

.childOne
{
    background:#00F;
    color:#DDD;
}

.childTwo
{
    background:#00F;
    color:#DDD;
    min-width:50px;
    max-width:100px;
}

button
{
    background:#000;
    color:#DDD;
    min-width:10%;
    max-width:30%;
}

body
{
    height:600px;

}

.height
{
    background:#DDD;
    width:200px;
    /* height:auto; */ /* Auto Increament */
    /* height:100%; */ /* Percentage From The Parent */
    min-height:50px;
    max-height:100px;

    margin-right:20px;
    float:left;

    overflow:auto; /* Hide The Overflow Data But With The Ability To Scroll Them */
    /* overflow:hidden; */ /* Just Hides The Overflow Data 'Unable To Be Scrooled' */
}