.one, .two, .three
{
    color:#FFF;
    padding:10px;
    width:300px;
    margin:10px;
    float:left;
}

.one
{
    background:#F00;
}

.two
{
    background:#00F;
}

.three
{
    background:#080;
}

.clear
{
    clear:both;
}

h1, span, div
{
    color:#080;
    font-weight:bold;
}

div.g
{
    padding:10px;
    background:#FFF;
    border:1px solid #00F;
}