<!DOCTYPE html>
<html>
    <head>
         <link rel="stylesheet" type="text/css" href="/assets/styles.css">
    </head>
    <body>
        <%- include ("partials29_Node/nav29_Node.ejs"); %>
        <h1>Welcome to the most awesome website on the net</h1>
        <p>You won't find a website better anywhere else!</p>
    </body>
</html>