<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/assets/styles.css">
    </head>
    <body>
        <%- include ("partials28_Node/nav28_Node.ejs"); %>
        <h1>Contact Us!</h1>
        <p>Contact the coolest cats on the web right here ...</p>
    </body>
</html>