a[target="_blank"]
{
    color:red;
}

a[title="Testing"]
{
    color:green;
}

img[title="Image 2"]
{
    border-radius:100px;
}

input
{
    display:block;
    margin:10px 0;
    padding:10px;
}

input[type="search"]
{
    color:#080;
}